# /etc/systemd/system/keycloak.service
[Unit]
Description=The Keycloak SSO Server
After=syslog.target network.target

[Service]
User=keycloak
LimitNOFILE=102642
PIDFile=/var/run/keycloak/keycloak.pid
ExecStart=/opt/keycloak/bin/kc.sh start
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

